@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h2 {
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  padding: 12px;
  white-space: nowrap;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo img {
  width: 20px;
  height: 20px;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav .logo a{
  color: #000;
  font-weight: 600;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav .nav-links a{
  font-size: 14px;
  color: darkgray;
  transition: all 0.3s ease;
}

nav .nav-links a:hover {
  color: #000;
}

nav button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3px;
  font-size: 14px;
  height: 30px;
  width: 120px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  border:1px solid transparent;
  transition: all 0.3s ease;
}

nav button:hover, .hero .left-section .top .buttons button.docs:hover{
  background: #fff;
  color: #000;
  border-color:#dedede;
}

nav button i{
  font-size: 20px;
}

.hero {
  margin-top: 80px;
  height: calc(100vh-80px);
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero > img {
  max-width: 520px;
  width: 44%;
  border-radius: 26px;
}


.hero .left-section{
  display: flex;
  flex-direction: column;
  gap: 100px;
}


.hero .left-section .top h2{
  font-size: 46px;
  margin-bottom: 28px;
}

.hero .left-section .top p{
  font-size: 18px;
  color: darkgray;
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: justify;
}

.hero .left-section .top .buttons{
  display: flex;
  gap: 8px
}

.hero .left-section .top .buttons button{
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px;
  border:1px solid transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  background-color: #dedede;
}


.hero .left-section .top .buttons button i{
  font-size: 29px;

}

.hero .left-section .top .buttons button.docs{
  background-color: #000;
  color: #fff;
}

.hero .left-section .top .buttons button.git:hover{
  color: #fff;
  background:#000;
  border-color: transparent;
}

.hero .left-section .bottom{
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #606060;
}

.hero .left-section .bottom  .icons{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}