@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h2 {
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  padding: 12px;
  white-space: nowrap;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo img {
  width: 20px;
  height: 20px;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav .logo a {
  color: #000;
  font-weight: 600;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav .nav-links a {
  font-size: 14px;
  color: darkgray;
  transition: all 0.3s ease;
}

nav .nav-links a:hover {
  color: #000;
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 14px;
  height: 30px;
  width: 120px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

nav button:hover,
.hero .left-section .top .buttons button.docs:hover,
.contact .items .item button:hover {
  background: #fff;
  color: #000;
  border-color: #dedede;
}

nav button i {
  font-size: 20px;
}

.hero {
  margin-top: 80px;
  height: calc(100vh-80px);
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero > img {
  max-width: 520px;
  width: 44%;
  border-radius: 26px;
}

.hero .left-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero .left-section .top h2 {
  font-size: 46px;
  margin-bottom: 28px;
}

.hero .left-section .top p {
  font-size: 18px;
  color: darkgray;
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: justify;
}

.hero .left-section .top .buttons {
  display: flex;
  gap: 8px;
}

.hero .left-section .top .buttons button,
.projects .inner button,
.contact .items .item button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  background-color: #dedede;
}

.hero .left-section .top .buttons button i {
  font-size: 29px;
}

.hero .left-section .top .buttons button.docs,
.contact .items .item button {
  background-color: #000;
  color: #fff;
}

.hero .left-section .top .buttons button.git:hover {
  color: #fff;
  background: #000;
  border-color: transparent;
}

.hero .left-section .bottom {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #606060;
}

.hero .left-section .bottom .icons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 50px;
}

.about .items .item .inner img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 12px;
}

.about > h2 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.about > p {
  font-size: 17px;
  color: #606060;
  border: 1px solid #e8e8e8;
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 12px;
  background-color: #fff;
}

.about .items {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.about .items .item {
  width: 26%;
  transition: transform 0.3s ease;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background-color: #f1f1f1;
  padding: 0 0 30px;
}

.about .items .item .inner {
  background: #fff;
  padding: 24px;
  border-radius: 16px 16px 0 0;
  border: 1px solid #e8e8e8;
  min-height: 365px;
}

.about .items .item .inner a {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.about .items .item .inner p {
  font-size: 14px;
  color: #606060;
  line-height: 1.6;
}

.projects {
  padding: 0 24px;
  background: #f5f5f5;
}

.projects .inner {
  background: #1f1f1f;
  color: #fff;
  padding: 70px;
  border-radius: 24px;
}

.projects .inner p.debug {
  font-size: 14px;
  margin-bottom: 12px;
  color: #d8d8d8;
  border: 1px solid #484848;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
}

.projects .inner p.debug i,
.projects .inner > button {
  font-size: 18px;
  margin-right: 5px;
}

.projects .inner h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.projects .inner p.info {
  font-size: 18px;
  color: #dedede;
  margin-bottom: 26px;
}

.projects .inner button {
  padding: 10px 20px;
  margin-bottom: 40px;
}

.projects .inner .items {
  display: flex;
  gap: 24px;
}

.projects .inner .items .item {
  background: #2a2a2a;
  padding: 24px;
  border-radius: 16px;
  flex: 1;
  transition: transform 0.3s ease;
  border: 1px solid #484848;
  height: 250px;
  width: 24%;
}

.projects .inner .items .item i {
  font-size: 38px;
  margin-bottom: 16px;
  color: #dedede;
  border: 1px solid #606060;
  border-radius: 10px;
  padding: 10px;
  background: #303030;
}

.projects .inner .items .item a {
  display: block;
  font-size: 20px;
  color: #fff;
  margin: 24px 0 14px;
}

.projects .inner .items .item p {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 24px;
}

.contact {
  padding: 100px 60px;
  background: #f5f5f5;
}

.contact > h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact .items {
  display: flex;
  background: #fff;
  border-radius: 16px;
}

.contact .items .item {
  padding: 40px;
  border-right: 1px solid #dedede;
  width: 50%;
}

.contact .items .item:nth-child(1) {
  border-radius: 12px 0 0 12px;
}

.contact .items .item:nth-child(2) {
  border-radius: 12px 0 0 12px;
}

.contact .items .item a {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 16px;
  color: #000;
}

.contact .items .item p {
  font-size: 16px;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 26px;
}

.contact .items .item button {
  padding: 12px 24px;
  border: 1px solid transparent;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: #909090;
  background: #1f1f1f;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer p,
footer a {
  font-size: 18px;
  color: #606060;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .hero .left-section .top h2 {
    font-size: 25px;
  }

  .hero .left-section .top p {
    font-size: 14px;
  }

  .hero .left-section .top .buttons button,
  .projects .inner > button,
  .contact .items .item button {
    font-size: 14px;
    padding: 8px 14px;
  }

  .hero .left-section .top .buttons button i {
    font-size: 18px;
  }

  .about .items .item .inner {
    min-height: 350px;
  }

  .about .items .item .inner a,
  .projects .inner > p.info,
  .contact .items .item p {
    font-size: 15px;
  }

  .about .items .item .inner p,
  .projects .inner .items .item p {
    font-size: 13px;
  }

  .projects .inner .items {
    flex-wrap: wrap;
  }

  .projects .inner .items .item {
    width: 46%;
    min-height: 220px;
  }

  .contact .items .item a {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    height: calc(100vh - 100px);
  }

  .hero > img {
    width: 80%;
    max-width: none;
  }

  .hero .left-section {
    gap: 20px;
    align-items: center;
  }

  .hero .left-section .top h2 {
    text-align: center;
  }

  .hero .left-section .top .buttons {
    justify-content: center;
  }

  .about .items {
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  }

  .about .items .item {
    width: 100%;
  }


  .projects .inner .items .item {
    height: 250px;
  }


  .contact .items {
    flex-direction: column;
  }

  .contact .items .item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #dedede;
    border-radius: 12px 12px 0 0;
  }

  .contact .items .item:nth-child(2) {
    border-bottom: none;
    border-radius: 0 0 12px 12px;
  }
}
